#config  session		"instance_name"
#	option  enabled         "1"
#	option	type		"3"
#	option	interface 	"eth0"			
#	option	srcip   	"10.0.0.1"				
#	option 	dstip   	"10.0.0.2"			
#	option	srcmac      	"3e:8e:c7:bd:9d:0f"		
#	option 	dstmac 		"be:dd:2e:e1:b2:1e"			
#	option	vrf		"vrf1"						
#	option 	interval  	"300"						
#	option	minrx		"500"						
#	option  mult   		"4"						

